{ "text": "Status Update",
"blocks": [
    {
        "type": "section",
        "text": {
            "type": "mrkdwn",
            "text": "Test Infrastructure Nodes are reachable at:"
        }
    },
    {
        "type": "section",
        "text": {
            "type": "mrkdwn",
            "text": 
"
{% for x in groups['rhautomation'] %}
<http://{{hostvars[x].ansible_host}}|{{x}}>
{% endfor %}
"
        }
    }
]
}